@import "tailwindcss";

@font-face {
  font-family: "Galmuri9";
  src: url("/fonts/Galmuri9.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main: #3dc2ec;
  --color-second: #4b70f5;
  --color-point: #4c3bcf;
  --color-secondPoint: #402e7a;
  --color-amberOrange: #ffa20e;
  --color-ligthRed: #f05650;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Galmuri9", sans-serif;
}
